@import url("./fonts.css");
:root {
  --column-unit-xs: calc(100% / 6);
  --column-unit-lg: calc(100% / 12);
  --column-unit-md: calc(100% / 12);
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

@media (min-width: 1440px) {
  /* For desktop: */
  [class*="col-lg-"] {
    width: 100%;
  }
  .col-lg-1 {
    width: var(--column-unit-lg);
  }
  .col-lg-2 {
    width: calc(var(--column-unit-lg) * 2);
  }
  .col-lg-3 {
    width: calc(var(--column-unit-lg) * 3);
  }
  .col-lg-4 {
    width: calc(var(--column-unit-lg) * 4);
  }
  .col-lg-5 {
    width: calc(var(--column-unit-lg) * 5);
  }
  .col-lg-6 {
    width: calc(var(--column-unit-lg) * 6);
  }
  .col-lg-7 {
    width: calc(var(--column-unit-lg) * 7);
  }
  .col-lg-8 {
    width: calc(var(--column-unit-lg) * 8);
  }
  .col-lg-9 {
    width: calc(var(--column-unit-lg) * 9);
  }
  .col-lg-10 {
    width: calc(var(--column-unit-lg) * 10);
  }
  .col-lg-11 {
    width: calc(var(--column-unit-lg) * 11);
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (max-width: 1439px) {
  /* For desktop: */
  [class*="col-md-"] {
    width: 100%;
  }
  .col-md-1 {
    width: var(--column-unit-md);
  }
  .col-md-2 {
    width: calc(var(--column-unit-md) * 2);
  }
  .col-md-3 {
    width: calc(var(--column-unit-md) * 3);
  }
  .col-md-4 {
    width: calc(var(--column-unit-md) * 4);
  }
  .col-md-5 {
    width: calc(var(--column-unit-md) * 5);
  }
  .col-md-6 {
    width: calc(var(--column-unit-md) * 6);
  }
  .col-md-7 {
    width: calc(var(--column-unit-md) * 7);
  }
  .col-md-8 {
    width: calc(var(--column-unit-md) * 8);
  }
  .col-md-9 {
    width: calc(var(--column-unit-md) * 9);
  }
  .col-md-10 {
    width: calc(var(--column-unit-md) * 10);
  }
  .col-md-11 {
    width: calc(var(--column-unit-md) * 11);
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 360px) {
  /* For mobile phones: */
  [class*="col-xs-"] {
    width: 100%;
  }

  .col-xs-1 {
    width: var(--column-unit-xs);
  }

  .col-xs-2 {
    width: calc(var(--column-unit-xs) * 2);
  }

  .col-xs-3 {
    width: calc(var(--column-unit-xs) * 3);
  }

  .col-xs-4 {
    width: calc(var(--column-unit-xs) * 4);
  }

  .col-xs-5 {
    width: calc(var(--column-unit-xs) * 5);
  }

  .col-xs-6 {
    width: 100%;
  }
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}
.google-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 120px 32px;
}

/* top-section starts */

.top-section {
  min-height: 100vh;
  background-image: url("../images/top-section/background.png");
  background-position: center;
  background-size: cover;
}

.top-section__title {
  color: #ffffff;
  font-size: 50px;
  margin-bottom: 100px;
}
@media (max-width: 360px) {
  .top-section__title {
    font-size: 30px;
    margin: 88px auto 31px;
  }
}

.top-section__body {
  display: flex;
  flex-direction: column;
  margin: 202px 0 120px;
}
@media (max-width: 360px) {
  .top-section__body {
    margin: 0 auto 32px;
  }
}

.top-section__form {
  display: flex;
  color: #ffffff;
  font-size: 18px;
  align-items: stretch;
}
@media (max-width: 360px) {
  .top-section__form {

  }
}

.top-section__form-row {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 24px;
  flex: 1;
}

.top-section__form-row--dest {
  max-width: 33%;
}
@media (max-width: 360px) {
  .top-section__form-row--dest {
    max-width: 100%;
  }
}


.top-section__form-row--calendar {
  max-width: 10%;
}

.top-section__form-row--booking {
  max-width: 11%;
}

.top-section__form-row--btn {
  flex: 0 1 190px;
}
@media (max-width: 360px) {

}


.top-section__form-label {
  padding-left: 24px;
  /*color: #000;*/
  margin-bottom: 24px;
}
.top-section__input-wrapper {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background: #fff;
}
.top-section__input {
  height: 64px;
  font-size: 18px;
  border: 3px solid #fff;
  color: #383838;
  padding-left: 4px;
}


.top-section__input--place {
  border-right: none;
  padding-left: 24px;
  border-radius: 8px 0 0 8px;
}

.top-section__control-wrapper {
  /*background: #ffffff;*/
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.top-section__input--calendar-in {
  text-align: center;
  border-color: #f5bd41;
  border-radius: 8px 0 0 8px;
  border-right: none;
}

.top-section__input--calendar-out {
  text-align: center;
  border-color: #f5bd41;
  border-radius: 0 8px 8px 0;
  border-left: none;
}
@media (max-width: 360px) {
.top-section__input--calendar-out {
  text-align: center;
  border: 4px solid #f5bd41;
  border-radius: 8px;
}
}
.top-section__form-row--booking .top-section__form-label {
  display: none;
}

.top-section__input--adult {
  /*border-left: none;*/
  /*border-right: none;*/
  text-align: end;
  }

/*@media (max-width: 360px){*/
/*  .top-section__input--adult {*/
/*    border-right: none;*/
/*    border-top: 4px solid #f5bd41;*/
/*    border-left: 4px solid #F5BD41;*/
/*    border-bottom: 4px solid #f5bd41;*/
/*    border-radius: 8px 0 0 8px;*/
/*    text-align: center;*/
/*  }*/
/*}*/

.top-section__input--child {
  border-left: none;
  border-right: none;
  text-align: center;
}
@media (max-width: 360px) {
  .top-section__input--child {
    border-left: 1px solid #BFBFBF;
    border-right: 1px solid #BFBFBF;
    border-top: 4px solid #F5BD41;
    border-bottom: 4px solid #f5bd41;
    text-align: center;
  }
}


.top-section__input--room {
  border-left: none;
  border-right: none;
  text-align: start;
}
@media (max-width: 360px){
  .top-section__input--room {
    border-left: none;
    border-top: 4px solid #f5bd41;
    border-right: 4px solid #F5BD41;
    border-bottom: 4px solid #f5bd41;
    border-radius: 0 8px 8px 0;
    text-align: center;
  }
}

.top-section__btn-wrapper {
  background: white;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  border-radius: 0 8px 8px 0;
}
@media (max-width: 360px) {
  .top-section__btn-wrapper {
    background: #f5bd41;
  }
}
.top-section__submit-btn {
  height: 64px;
  width: 100%;
  border-radius: 8px;
  color: #ffffff;
  background-color: #3077c6;
  font-size: 24px;
  border: 1px solid #3077c6;
}
@media (max-width: 360px) {
  .top-section__submit-btn {
    height: 48px;
    border-radius: 8px;
    font-size: 19px;
     }

}
.top-section__icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.top-section__google {
  width: 135px;
  height: 40px;
}
.top-section__apple {
  width: 119px;
  height: 40px;
}

@media (max-width: 360px) {
  .top-section__form {
    font-size: 15px;
    max-width: 312px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #F5BD41;
    border: 8px solid #F5BD41 ;
  }
  .top-section__form-row {
    margin-bottom: 8px;
    padding: 5px 0;
    background: #fff;
    border-radius: 8px;
  }
  .top-section__form-label--dest {
    display: none;
  }
  .top-section__form-label {
    padding: 0 0 0 5px;
    margin: 0;
  }
  .top-section__form-row--calendar {
    max-width: calc(50% - 4px);
  }
  .top-section__form-row--calendar--in {
    margin-right: 4px;
  }
  .top-section__form-row--calendar--out {
    margin-left: 4px;
  }
  .top-section__form-row--booking {
    max-width: calc(100% / 3);
  }
  /*.top-section__form-row--adult:nth(1) {*/
  /*  border: none;*/
  /*}*/
  .top-section__control-wrapper {
    background: #fff;
    font-size: 12px;
    color: #383838;
  }
  .top-section__input {
    height: 48px;
    font-size: 15px;
  }
  .top-section__input--labeled {
    text-align: left;
    padding: 0 5px;
    border: none;
    border-radius: 8px;
    height: 24px;
  }
  .top-section__input--place {
    border: none;
    height: 38px;
  }
  .top-section__form-row--adult{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .top-section__control-wrapper--child {
    border-radius: 0;
    border-right: 1px solid #383838;
    border-left: 1px solid #383838;
  }
  .top-section__form-row--child {
    border-radius: 0;
  }
  .top-section__control-wrapper--child {
    border-right: 1px solid #383838;
    border-left: 1px solid #383838;
  }
  .top-section__form-row--room {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .top-section__form-row--btn {
    padding: 0;
    margin-bottom: 0;
    flex: 1;
  }
  .top-section__form-row--booking .top-section__form-label {
    display: block;
  }
}

/* top-section ends */

/* header starts */

.header {
  margin: -70px auto;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 24px;
  align-items: center;
}

@media (max-width: 360px) {
  .header {
    margin: 0 16px;
  }

}

.header__logo-icon {
  width: 100%;
  max-width: 205px;
  aspect-ratio: 205/40;
  fill: #3077c6;
}
@media (max-width: 360px) {
  .header__logo-icon {
    max-width: 122px;
  }
}
.header__nav {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__nav-item {
  display: flex;
  flex-direction: column;
}
@media (max-width: 360px) {
  .header__nav-item--mobile {
    display: none;
  }
}

.header__hr {
  width: 60px;
  line-height: 4px;
  border: solid #f5bd41;
  margin-top: 42px;
  position: absolute;
}
@media (max-width: 360px) {
  .header__hr {
    display: none;
  }
}
.header__nav-item-icon--night {
  max-width: 100%;
  width: 30px;
  aspect-ratio: 1/1;
}
@media (max-width: 360px) {
  .header__nav-item-icon--night {
    width: 16px;
  }
}
.header__nav-item-icon--acc {
  max-width: 100%;
  width: 40px;
  aspect-ratio: 1/1;
}
@media (max-width: 360px) {
  .header__nav-item-icon--acc {
    width: 24px;
  }
}

/* header ends */

/* section-benefits starts */

.section-benefits__title {
  text-align: center;
  margin: 0 auto 20px;
  font-size: 40px;
}

.section-benefits__hr {
  width: 100px;
  line-height: 4px;
  border: solid #f5bd41;
  margin: auto;
}
.section-benefits__items {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}
.section-benefits__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  gap: 48px;
  font-size: 24px;
}
.section-benefits__icon--message {
  width: 100%;
  max-width: 84px;
  aspect-ratio: 1/1;
}
.section-benefits__icon--sup {
  width: 100%;
  max-width: 76px;
  aspect-ratio: 76/92;
}
.section-benefits__icon--book {
  width: 100%;
  max-width: 100px;
  aspect-ratio: 100/68;
}
.section-benefits__icon--like {
  width: 100%;
  max-width: 92px;
  aspect-ratio: 92/84;
}
@media (max-width: 1439px) {
  .section-benefits__item {
    margin-bottom: 24px;
    gap: 24px;
  }
}
/* section-benefits ends */

/* Footer starts */

.footer {
  background-color: #10367c;
  color: #ffffff;
}
.footer__logo--mobile {
  display: none;
}
.footer__items {
  display: flex;
}
.footer__item {
  flex: 1;
  font-size: 20px;
}

.footer__links {
  list-style: none;
  padding: 0;
}

.footer__links-header {
  font-size: 20px;
}

.footer__links-item:not(:last-child) {
  padding-bottom: 24px;
}

.footer__copyright {
  margin-top: 64px;
  font-size: 14px;
}

/* Footer ends */

@media (max-width: 360px) {
  /* For mobile phones: */

  .container {
    max-width: 360px;
    padding: 24px 0 40px;
  }

  .section-benefits__title {
    font-size: 28px;
    margin: 0 auto 32px;
  }
  .section-benefits__hr {
    display: none;
  }
  .section-benefits__items {
    margin-top: 32px;
  }
  .section-benefits__item {
    font-size: 15px;
    gap: 16px;
    margin: 0 auto 32px;
  }
  .section-benefits__icon--sup {
    max-width: 52px;
  }
  .section-benefits__icon--message {
    max-width: 58px;
  }
  .section-benefits__icon--book {
    max-width: 70px;
  }
  .section-benefits__icon--like {
    max-width: 64px;
  }
  .footer__container {
    padding-top: 40px;
  }

  .footer__logo {
    display: flex;
    max-width: 98px;
    margin: 0 auto 40px;
  }
  .footer__logo-icon {
    width: 100%;
    max-width: 205px;
    aspect-ratio: 205/40;
    fill: #ffffff;
  }
  .footer__item {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }
  .footer__links-header {
    font-size: 15px;
    text-decoration: underline;
  }
  .footer__links-item:not(:last-child) {
    padding: 0;
  }
  .footer__links-item--mobile {
    display: none;
  }
  .footer__items {
    margin: 0 auto 32px;
  }

  .footer__copyright {
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
  }
}
