* {
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.container-title {
  text-align: center;
  margin: 120px auto 20px;
}
hr {
  width: 100px;
  line-height: 4px;
  border: solid #f5bd41;
  margin: auto;
}
.container-item {
  margin-top: 80px;
}
.item {
  display: flex;
}
.icons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
